[submodule "thirdparty/yasnippet"]
	path = thirdparty/yasnippet
	url = https://github.com/capitaomorte/yasnippet.git
[submodule "thirdparty/smex"]
	path = thirdparty/smex
	url = https://github.com/nonsequitur/smex
[submodule "thirdparty/ace-jump-mode"]
	path = thirdparty/ace-jump-mode
	url = https://github.com/winterTTr/ace-jump-mode.git
