[submodule "thirdparty/yasnippet"]
	path = thirdparty/yasnippet
	url = https://github.com/capitaomorte/yasnippet.git
[submodule "thirdparty/smex"]
	path = thirdparty/smex
	url = https://github.com/nonsequitur/smex
[submodule "thirdparty/ace-jump-mode"]
	path = thirdparty/ace-jump-mode
	url = https://github.com/winterTTr/ace-jump-mode.git
[submodule "thirdparty/better-defaults"]
	path = thirdparty/better-defaults
	url = https://github.com/technomancy/better-defaults.git
[submodule "thirdparty/multiple-cursors.el"]
	path = thirdparty/multiple-cursors.el
	url = https://github.com/magnars/multiple-cursors.el.git
[submodule "thirdparty/zenburn-emacs"]
	path = thirdparty/zenburn-emacs
	url = https://github.com/bbatsov/zenburn-emacs.git
[submodule "thirdparty/browse-kill-ring"]
	path = thirdparty/browse-kill-ring
	url = https://github.com/browse-kill-ring/browse-kill-ring.git
[submodule "thirdparty/go-mode.el"]
	path = thirdparty/go-mode.el
	url = https://github.com/dominikh/go-mode.el.git
[submodule "thirdparty/expand-region.el"]
	path = thirdparty/expand-region.el
	url = https://github.com/magnars/expand-region.el
[submodule "thirdparty/smooth-scrolling"]
	path = thirdparty/smooth-scrolling
	url = https://github.com/aspiers/smooth-scrolling.git
[submodule "thirdparty/company-mode"]
	path = thirdparty/company-mode
	url = https://github.com/company-mode/company-mode.git
[submodule "thirdparty/helm"]
	path = thirdparty/helm
	url = https://github.com/emacs-helm/helm.git
[submodule "thirdparty/emacs-async"]
	path = thirdparty/emacs-async
	url = https://github.com/jwiegley/emacs-async.git
[submodule "thirdparty/projectile"]
	path = thirdparty/projectile
	url = https://github.com/bbatsov/projectile.git
